<!DOCTYPE html>
<html>
<head>
  <title>Splurty</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>

</head>
<body>
	<header>
		<div class="col-xs-3 circle-container">
		<%= link_to root_path, :class => 'logo' do %>
			<div class="circle">
			  <br />
			  Play It
			  <br />
			  Live It
			  <br />
			  Love It
			</div>
		<% end %>
		</div>
		<div class="col-sm-5 hidden-xs slogan">
			<!-- ideas  splurty words,  splurty riffs, splurty riff-ic, splurty riff it! -->
			<p id="top-slogan"><span id="top-word1">Splurty</span> <span id="top-word2">Riff-it!</span></p> 
			<p class="bottom-slogan">&#9835;Rockin' guitar quotes everyday!</p>
		</div>
		<div class="col-xs-8 col-xs-offset-1 col-sm-offset-0 col-sm-4 links">
			<!-- Button Trigger Modal -->
			<span id="contribute-line-thing">
			<%= link_to 'Contribute a Quote', '#' , :class => 'contribute-link', :data => {:toggle => 'modal', :target => '#myModal'} %>
			 </span >

			 &nbsp; &nbsp;
			 <!-- button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" -->
   			 <!-- Launch demo modal -->
 			 <!-- /button -->

 			<!-- Taken out for the modal -->
			<!-- <span id="contribute-line-thing" -->
			<!-- %= link_to 'Contribute', new_quote_path, :class => 'contribute-link' % -->
			<!-- /span -->
			<span id="about-line-thing"><%= link_to 'About', about_path, :class => 'about-link' %></span>

		</div>

	</header>

  <!-- Modal from  Lesson 16 -->
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">
          	<span id="modal-logo">Splurty Riff-it!</span> <br />
          	Contribute Your Quote
          </h4>
        </div>

        <%= simple_form_for Quote.new do |f| %>
      		  <div class="modal-body modal-fonts">
        	  <!-- this is the code from new.html.erb -->
				
					<%= f.input :saying, :label => "What is the quote you would like to add?", :placeholder => "[like this (no quote marks)-->] Tonight we roll to the guitar bite . . .", :class => 'btn btn-danger ' %>
					<br />
					<%= f.input :author, :label => "Who is the author of this Rockin' quote?", :placeholder => "[Author(s), e.g.]-->Angus Young, Malcolm Young and Brian Johnson (AC/DC)" %>
					<br />
				</div>		

		        <div class="modal-footer modal-fonts">
		          <button type="button" class="btn btn-default modal-button-color" data-dismiss="modal">Close</button>
		          <%= f.submit 'Create', :class => 'btn btn-danger ' %>
		          <!--button type="button" class="btn btn-primary">Save changes</button -->
		          <!--took out button large   btn-lg   and button block btn-block-->
		        </div>
        <% end %>
      </div>
    </div>
  </div>



	<hr />
	<br class="clear">

	<!-- added in lesson 11 -->
	<!-- changes in lesson 14 -->
	<div class="container">
		<% if flash[:error].present? %>
			<div class="col-xs-10 col-xs-offset-1 alert alert-danger">
			<span class="glyphicon glyphicon-thumbs-down" aria-hidden="true">X</span>
				<%= flash[:error].html_safe %>
			</div>
			<br class="clear" />
		<% end %>
		<%= yield %>
	</div>	

	<div class ="footer">
		<div class="container footerContainer">
			<div class="col-xs-12 col-sm-6 next-quote-div">
				<%= link_to "This isn't rockin' enough, I need more!", root_path, :class => 'next-quote' %>
			</div>
			<div class="col-xs-12 col-sm-6 footer-blurb">
				Proudly hacked in Southborough, MA by<br />
				<a id="footer-hack-link" href="http://christopher-roche.com" target="_blank">Chris R (formerly from Brooklyn, NY)</a><br />
				Want to build your own Splurty Web App? <br />
				<a id="shameless-promotion-link" href="http://thefirehoseproject.com" target="_blank">
					Learn coding here--These guys rock!
				</a>
			</div>
		</div>
	</div>

</body>
</html>
