<!DOCTYPE html>
<html>
<head>
  <title>Splurty</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>

</head>
<body>
	<header>
		<div class="col-xs-3 circle-container">
			<div class="circle">
			  <br />
			  Play It
			  <br />
			  Live It
			  <br />
			  Love It
			</div>
		</div>
		<div class="col-xs-4 slogan">
			<p id="top-slogan"><span id="top-word1">Splurty</span> <span id="top-word2">Words!</span></p> 
			<p id ="bottom-slogan">You know you want to <span id="rockIt">Rock</span> when you say . . . </p>
		</div>
		<div class="col-xs-5 links">
			<span id="contrib-link"><%= link_to 'Contribute', '#' %></span>
			<span id="about-link"><%= link_to 'About', '#' %></span>

		</div>

	</header>
	<hr />
	<br class="clear">

<%= yield %>

</body>
</html>
